/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@charset 'utf-8';

/* 공통 */
.cf:after {
  display: block;
  content: "";
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.indent {
  display: none;
  visibility: hidden;
  opacity: 0;
  text-indent: -9999px;
}
/* privacy */
.privacy {
  color: #666;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  font-size: 15px;
  line-height: 140%;
  word-break: break-all;
}
.privacy h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin: 50px 0 30px;
}
.privacy h2:first-child {
  margin-top: 0;
}
.privacy > p {
  margin: 15px 0;
}
.privacy > p + dl {
  margin-top: 30px;
}
.privacy > dl {
  padding-bottom: 20px;
}
.privacy > dl > dt {
  font-size: 15px;
  color: #3680b9;
  font-weight: 700;
  padding-bottom: 5px;
}
.privacy > dl > dd {
  padding-bottom: 10px;
  text-align: justify;
  font-size: 15px;
  line-height: 140%;
}
.privacy > dl > dd ul {
  padding: 10px;
}
.privacy > dl > dd ul li {
  line-height: 120%;
  margin-top: 10px;
}
.privacy > dl > dd ul li:first-child {
  margin-top: 0;
}
.privacy > dl > dd ul li p {
  margin: 0 10px 5px;
  line-height: 140%;
  margin-top: 8px;
}
.sTxt h3 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin: 20px 0 10px;
}
.sTxt p {
  margin-top: 10px;
}
.sTxt dt {
  margin-top: 10px;
}
.sTxt dd {
  margin: 0 8px;
}

ul:after,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner1200 {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* color */
.color_blue {
  color: #00497d !important;
}

/* padding */
.hd_pd {
  padding-top: 100px;
}

/* 타이틀*/
.tit_s1 {
  text-align: center;
}
.tit_s1 h2 {
  font-size: 40px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.tit_s1 p {
  color: #a3a3a3;
  margin-top: 18px;
}

/* 헤더 */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
header #hd_top {
  height: 100px;
}
header #hd_top > div {
  height: 100%;
}
header #hd_top .logo {
  position: absolute;
  left: 0;
  top: 20px;
}
header #hd_top nav {
  float: right;
}
header #hd_top nav .gnb {
}
header #hd_top nav .gnb > li {
  float: left;
  text-align: center; /* margin-right:53px;  */
  position: relative;
  min-width: 150px;
}
header #hd_top nav .gnb > li:last-child {
  margin: 0;
}
header #hd_top nav .gnb > li > a {
  line-height: 1.2;
  display: block;
  padding: 26px 0;
  position: relative;
}
header #hd_top nav .gnb > li > a.on:before {
  content: "";
  width: 100%;
  height: 10px;
  background: #26618b;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
header #hd_top nav .gnb > li > a p {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
header #hd_top nav .gnb > li > a span {
  font-size: 14px;
  color: #a3a3a3;
}
header #hd_top nav .gnb > li > .depth2 {
  position: absolute;
  width: 100%;
  background: #26618b;
  padding: 5px 0;
  top: 100%;
  display: none;
}
header #hd_top nav .gnb > li > .depth2 > li {
}
header #hd_top nav .gnb > li > .depth2 > li > a {
  display: block;
  color: #fff;
  padding: 14px 0;
}

header #hd_top nav .gnb > li:nth-child(2) > .depth2 {
  display: none !important;
}

footer {
  background: #f7f7f7;
  padding: 50px 0;
  color: #393939;
  line-height: 26px;
}
footer .ft_logo {
  /* margin-right:85px;  margin-bottom: 20px;  */
  margin: 0 85px 20px 133px;
}
footer .ft_logo,
footer .info {
  float: left;
  text-align: left;
}
footer .info p {
  margin-bottom: 20px;
}
footer .info p:last-child {
  margin: 0;
}
footer .info .copy {
  color: #595959;
}
